/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	box-sizing:border-box;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.row {
	margin:0;
}

html,
body {
	font-family: 'Lato', sans-serif;
	min-height: 100%;
	height:100%;
}

body > .row {
	margin:0;
	height:100%;
	min-height: 100%;
}

.left {
	background: #fdfdfd;
	border-right:1px inset #ddd;
	color:#333;
	min-height: 100%;
	height:100%;
}

.right > *:not(.page-header) {
	margin-left:20px;
	margin-right:20px;
}

.nav {
	padding: 10px;
}

.nav h4 {
	font-weight: bold;
	margin-bottom:5px;
}

.nav a {
	color:#003171;
	display: block;
	padding:7px 10px;
	font-size: 14px;
	text-decoration: underline;
	-webkit-transition-duration:.3s;
}

.nav a:hover {
	background: #317589;
	color:#fff;
}

.nav a .glyphicon {
	margin-right:5px;

}

.nav ul ul li a {
	padding-left: 20px;
}

.panel {
	border:0;
	marin:0 10px;
}

.input-group {
	margin:10px 0;
}

label {
	margin:5px 0;
	font-weight: bold;
}

.input-group-addon {
	min-width: 200px;
}

.page-header {
	margin-top:0px;
	padding:36px 15px;

	font-weight: bold;
	font-size:26px;
	background:#eeeeee;
}

.info {
	padding:25px 10px;
	margin: 0 0 10px;
}

.edition {
	background: #003171;
	color:#fff;
	margin:0;

}

.info .name {
	margin:0 0 5px;
	font-size:22px;
}

.user {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background: #ECF0F1;
}

.user .name {
	font-size:20px;

}
.row.no-gutter > * {
	padding:0;
}

.list-group-item-heading {
	font-weight: bold;
}

#footer {

}

#footer #feedback {
	position:fixed;
	left:50%;
	width:200px;
	margin-left:-100px;
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	bottom: 30px;
	display: none;
	z-index: 99999;
}