a {
	text-decoration: none!important;
}


#header .navbar {
	position:fixed;
	width:100%;
	z-index: 99999;
}


.nav,
.navbar {
	padding:0!important;
	border-radius: 0;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text,
.navbar-default .navbar-brand {
	color:#fff;
}

.navbar-default,
.navbar-default .navbar-nav > .open>a, .navbar-default .navbar-nav>.open> a:focus, .navbar-default .navbar-nav > .open > a:hover {
	background-color:#22A7F0;
	border-color:#22A7F0;
}

.navbar {
	margin-bottom:0;
}

.navbar-right {
	margin: 0;
}

.front .main {
	padding:100px 50px;
}

.front .app {
	display:none;
	padding:50px;
}

.app_vote_form .row {
	margin:10px 0;
}

.single-app .panel-heading {
	padding:15px;
	font-size:22px;
}

.close_app {
	display:none;
	position: fixed;
	top: 50%;
	background: #000;
	color: #fff;
	left: 0;
	padding: 15px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.single-app .app_vote_form {
	margin-top:50px;
}

.login-wrapper {
	background:url('../img/login_bg.jpg') no-repeat fixed;
	background-size:cover;
	width:100%;
	height:100%;
	padding:50px;
}

.login-wrapper .modal {
	display:block;
	background: rgba(0,0,0,0.4);
}

.login-modal-dialog {
	margin-top:100px;
	background: #fff;
	border-radius: 3px;
}

.login-modal-dialog .modal-title {
	font-weight: bold;

}

.modal-dialog {
	width:400px;
}